.header {
  height: 100%;
  background-color: rgba(23, 23, 23, 255);
  font-size: small;
}
.navb {
  display: grid;
  grid-template-areas: "topbar-date-selector topbar-search";
  padding: 7px 0px 0px 15px;
  margin-right: 10px;
  height: 49px;
  justify-content: space-between;
  align-items: center;
  background: rgb(23, 23, 23);
  border-bottom: 1px solid rgb(59, 59, 59);
}
.sort {
  width: 172.719px;
}
.title {
  margin: 1% 0% 0% 2%;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.4px;
  color: rgba(255, 255, 255, 0.95);
  white-space: nowrap;
  padding-bottom: 6px;
}
.options {
  display: flex;
}
.Buttondiv {
  height: 30px;
  margin-right: 8px;
  border-radius: 3px;
  padding: 0px 12px;
  background: rgb(66, 66, 66);
}
.button {
  display: inline-flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 30px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.95);
  background-color: rgb(66, 66, 66);
  padding-left: 10px;
  padding-right: 10px;
  font-family: Inter;
  border: 1px solid rgb(74, 74, 74);
  border-radius: 5px;
}
.primary {
  background-color: rgb(54, 98, 204);
  width: auto;
  border-color: rgb(54, 98, 204);
  margin-right: 0;
}
.arrow, .icon {
  display: inline-flex;
  margin-inline-start: 0.5rem;
}
.icon {
  display: inline-flex;
  margin-inline-end: 0.5rem;
}
