.space {
  position: relative;
  width: 54.172vw;
  display: block;
}
.links {
  position: relative;
  float: right;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 2.928vw;
}
.navItem {
  color: #707070;
  font-weight: 500;
  max-width: 95.168vw;
  font-size: 1.171vw;
}
.navItem:hover {
  cursor: pointer;
}
.navbar {
  left: 0;
  display: flex;
  right: 0;
  width: 95.168vw;
  height: 5.344vw;
  background-color: #fff;
  position: relative;
  align-items: center;
  margin-left: 1.793vw;
  margin-right: 0;
  margin-top: 0;
  z-index: 1000;
}
.pri {
  color: #2a67f4;
}
