*,
::before,
::after {
  border-width: 0px;
  border-style: solid;
  box-sizing: border-box;
}
.tab {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1400;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.tab-content {
    border-radius: 0.375rem;
    background: rgb(51, 51, 51);
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    z-index: 1400;
    max-height: -webkit-calc(100vh - 7.5rem);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;
    max-width: 28rem;
}
.content-header {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  font-family: Inter;
  line-height: 20.4px;
  padding: 14px 16px 4px;
}
.create-form {
  margin-top: 10px;
  padding: 0px 16px;
}
.name {
  margin-bottom: 12px;
  width: 100%;
  position: relative;
}
.name-text {
  display: block;
  text-align: start;
  font-size: 10px;
  margin-inline-end: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  opacity: 1;
  font-family: Inter;
  line-height: 12px;
  color: rgb(123, 124, 124);
  padding-left: 6px;
}
.name-input {
  display: flex;
}
.input-grp {
  width: 100%;
  margin-right: 8px;
}
.input {
    width: 100%;
    position: relative;
    font-size: 12px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(74, 74, 74);
    background: rgb(66, 66, 66);
    color: #fff;
    font-family: Inter;
    font-weight: 500;
    line-height: 14.4px;
    cursor: default;
    padding: 0px 10px;
    margin-top: unset !important;
}
input:focus {
  border: 1px solid #3662cc;
}
.name-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-weight: 600;
  height: 30px;
  min-width: 2rem;
  background: transparent;
  padding: 0px;
  border: 1px solid rgb(74, 74, 74);
  color: rgb(42, 168, 208);
  cursor: default;
}
.cancel{
    font-weight: 500;
    height: 30px;
    min-width: 2.5rem;
    font-size: 12px;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    font-family: Inter;
    color: rgba(255, 255, 255, 0.95);
    background-color: rgb(66, 66, 66);
    margin-right: 8px;
    cursor: default;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(74, 74, 74);
}
.save{
    background-color: rgb(54, 98, 204);
    margin-right: 0;
}
.save:disabled{
  opacity: 0.4;
}