.Sidebar {
  height: 100%;
  color: #7b7c7c;
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  font-weight: 500;
  line-height:15.6px;
  background-color: rgba(23,23,23,255);
}
.SideList{
  height: 100%;
  width: 100%;
  margin-top: 0;
  padding: 1vw;
      padding-left: 12px;
    padding-right: 13px;
    padding-top: 39px;
    padding-bottom: 12px;
    width: 214px;
    height: 100%;
}
.SideList .SideListItem:hover{
  cursor: pointer;
  background-color: #323232;
  color: white;
}
.SideList #active{
  background-color: #3662cc;
  color: white;
}
.SideList #active{
  background-color: #3662cc;
  color: white;
}
.SideListItem .icon:hover{
  color: white;
}
.SideListItem .text:hover{
  color: white;
}
.MenuType{
  list-style-type: none;
  font-size: smaller;
  margin-top: 1vw;
} 
.SideListItem {
  width: 190px;
  height: 27.587px;
    display: flex;
    align-items: center;
    padding: 4.3px 8px;
    cursor: default;
    border-radius: 5px;
}
.SideListItem:hover{
  color: white;
}
.text {
    width: 151;
    height: 15.594;
    padding: 6px 7px;
    text-transform: capitalize;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.6px;
    color: rgb(123, 124, 124);
}
/* .icon{
    transform: scale(0.8);
    display: flex;
    width: 20px;
    height: 20px;
    fill: rgb(123, 124, 124);
    color: rgb(123, 124, 124);
    margin-right: 5px;
} */
.icon:hover{
 fill:#ffffff 
}