.content {
  height: 100%;
  width: 100%;
  background: rgb(23, 23, 23);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.signIn-container {
  position: relative;
  margin: 0;
  border: 0.0732vw solid rgb(41, 40, 41);
  background: rgb(50, 50, 50);
  text-align: center;
  padding: 3.294vw 3.953vw 3.147vw 4.026vw;
  width: 29.355vw;
  min-height: 20.058vw;
  border-radius: 0.366vw;
}
.img {
  margin: 0vw auto;
  max-width: 100%;
  height: auto;
  width: 3.587vw;
}
.heading {
  font-family: Inter;
  font-size: 1.61vw;
  font-weight: 700;
  line-height: 1.949vw;
  color: rgb(255, 255, 255);
  margin-top: 0.878vw;
  margin-bottom: 0.366vw;
}
.subheading {
  font-family: Inter;
  font-size: 0.951vw;
  font-weight: 400;
  line-height: 1.317vw;
  color: rgb(123, 124, 124);
}
.buttons {
  margin-top: 2.049vw;
}
.buttons .google {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #000000;
  width: 21.376vw;
  height: 2.928vw;
  border-radius: 0.366vw;
  box-shadow: #2e2e2e 0.146vw 0.146vw 0.292vw;
  position: relative;
}
.google-img {
  width: 2.122vw;
  height: 2.122vw;
  position: absolute;
  left: 0.878vw;
}
.google-text {
  font-family: Inter;
  font-size: 1.098vw;
  font-weight: 500;
  line-height: 1.317vw;
  color: rgb(0 0 0);
  position: absolute;
  left: 5.71vw;
  margin: 0;
}
.space {
  height: 0.732vw;
}
.Apple {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 0.366vw;
  width: 21.376vw;
  height: 2.928vw;
}
.apple-img {
  width: 1.02vw;
  height: 1.29vw;
  transform: translate(-0.001vw);
}
.apple-text {
  font-family: Inter;
  font-size: 1.098vw;
  font-weight: 500;
  line-height: 1.317vw;
  color: #ffffff;
  margin-left: 0.658vw;
  margin-bottom: 0;
}
