*,
::before,
::after {
  border-width: 0vw;
  border-style: solid;
  box-sizing: border-box;
}
.tab {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0vw;
  top: 0vw;
  z-index: 1400;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 2s;
}
/* .tab:active {
  height: auto;
} */
.tab-content {
  border-radius: 0.375rem;
  background: rgb(51, 51, 51);
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  z-index: 1400;
  max-height: -webkit-calc(100vh - 7.5rem);
  box-shadow: rgba(0, 0, 0, 0.1) 0vw 0vw 0vw 0.0732vw,
    rgba(0, 0, 0, 0.2) 0vw 0.366vw 0.732vw,
    rgba(0, 0, 0, 0.4) 0vw 1.098vw 2.928vw;
  max-width: 28rem;
}
.content-header {
  font-size: 1.244vw;
  font-weight: 600;
  color: #fff;
  font-family: Inter;
  line-height: 1.493vw;
  padding: 1.024vw 1.171vw 0.292vw;
}
.create-form {
  margin-top: 0.732vw;
  padding: 0vw 1.171vw;
}
.name {
  margin-bottom: 0.878vw;
  width: 100%;
  position: relative;
}
.name-text {
  display: block;
  text-align: start;
  font-size: 0.732vw;
  margin-inline-end: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  opacity: 1;
  font-family: Inter;
  line-height: 0.878vw;
  color: rgb(123, 124, 124);
  padding-left: 0.439vw;
}
.name-input {
  display: flex;
}
.input-grp {
  width: 100%;
  margin-right: 0.585vw;
}
.input {
  width: 100%;
  position: relative;
  font-size: 0.878vw;
  height: 2.196vw;
  border-radius: 0.2196vw;
  border: 0.0732vw solid rgb(74, 74, 74);
  background: rgb(66, 66, 66);
  color: #fff;
  font-family: Inter;
  font-weight: 500;
  line-height: 1.054vw;
  cursor: default;
  padding: 0vw 0.732vw;
  margin-top: unset !important;
  text-transform: capitalize;
}
input:focus {
  border: 0.0732vw solid #3662cc;
}
.name-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-weight: 600;
  height: 2.196vw;
  min-width: 2rem;
  background: transparent;
  padding: 0vw;
  border: 0.0732vw solid rgb(74, 74, 74);
  color: rgb(42, 168, 208);
  cursor: default;
}
.cancel {
  font-weight: 500;
  height: 2.196vw;
  min-width: 2.5rem;
  font-size: 0.878vw;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  font-family: Inter;
  color: rgba(255, 255, 255, 0.95);
  background-color: rgb(66, 66, 66);
  margin-right: 0.585vw;
  cursor: default;
  border-radius: 0.2196vw;
  border-width: 0.0732vw;
  border-style: solid;
  border-color: rgb(74, 74, 74);
}
.save {
  background-color: rgb(54, 98, 204);
  margin-right: 0;
}
.save:disabled {
  opacity: 0.4;
}
.menu {
  border-radius: 0.5vw;
  border: 0.0732vw solid #616161;
  z-index: 10;
  background-color: rgb(51, 51, 51);
  overflow: auto;
  visibility: visible;
  position: absolute;
  min-width: max-content;
  inset: 0vw auto auto 0vw;
  /* user-select: auto; */
  margin: 0vw;
  transform: translate(0vw, 4.245vw);
  width: 27.525vw;
  --popper-transform-origin: top left;
}
.popular {
  padding: 0.292vw 0vw;
  border-bottom: 0.0732vw solid rgb(74, 74, 74);
}
.popular-heading {
  font-family: Inter;
  font-size: 0.878vw;
  font-weight: 500;
  line-height: 1.054vw;
  color: rgba(255, 255, 255, 0.95);
  padding: 0.292vw 0.732vw;
  text-transform: capitalize;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0.585vw;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.366vw;
  margin-top: 1.464vw;
  margin-bottom: 1.464vw;
  background: rgb(66, 66, 66);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .icon-container img{
  width: 0;
} */
.sug-icon {
  margin-right: 0vw;
  width: 1.647vw;
  height: 2.196vw;
  display: flex;
}
.habit-sug {
  color: hsla(0, 0%, 100%, 0.7);
  display: flex;
  cursor: default;
  height: 2.196vw;
  line-height: 2.196vw;
  padding: 0vw 0.439vw 0vw 1.024vw;
  text-transform: capitalize;
}
.habit-sug:hover {
  cursor: pointer;
  background-color: #3662cc;
  color: white;
}
