.category {
  margin-top: 0.585vw;
  margin-bottom: 0.585vw;
}
.category-heading {
  display: grid;
  grid-template-areas: "label icon";
  grid-template-columns: minmax( 3.286vw,  5.262vw) 8.8fr;
  height:  3.221vw;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
}
.heading-div {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  grid-area: label / label / label / label;
  width: 500%;
  margin-left:  1.171vw;
}
.heading-div img {
  width:  1.464vw;
  height:  1.464vw;
}
.heading-text {
  margin-top:  0vw;
  margin-inline: 0.5rem  0vw;
  margin-bottom:  0vw;
  font-family: Inter;
  font-size:   1.098vw;
  font-weight: 600;
  line-height:   1.317vw;
  color: var(--text-color);
  margin-left:   0.951vw;
}
