.grid {
  display: grid;
  grid-template-columns: 1.9fr 1fr;
  grid-gap: 0.768vw;
}

.goal {
  width: 100%;
  position: relative;
}
.goal-text {
  display: block;
  text-align: start;
  font-size: 0.732vw;
  margin-inline-end: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  opacity: 1;
  font-family: Inter;
  line-height: 0.878vw;
  color: rgb(123, 124, 124);
  padding-left: 0.439vw;
}
.goal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.732vw;
}
.number {
  padding-left: 0.585vw;
  padding-right: 2.342vw;
}
.goal-number {
  position: relative;
  z-index: 0;
  cursor: default;
}
.arrows {
  position: absolute;
  top: 0vw;
  right: 0vw;
  margin: 0.0732vw;
  z-index: 1;
  width: 1.756vw;
  padding: 0.292vw;
}
.up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  /*  */
}
.up img {
  width: 0.805vw;
  height: 0.805vw;
}
.up:hover {
  background: rgb(38, 38, 38);
}
.goal-times {
  width: 100%;
  display: flex;
  position: relative;
}
.times {
  padding-left: 0.732vw;
  padding-right: 1.098vw;
}
.arrowIcon {
  right: 0vw;
  width: 0.878vw;
  height: 2.196vw;
  font-size: var(--chakra-fontSizes-md);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0vw;
  z-index: 2;
  margin-right: 0.732vw;
  pointer-events: none;
}
.arrowIcon img {
  width: 1.464vw;
}
.reminder {
  margin-top: 1.171vw;
}
.reminder-box {
  background-color: var(--elements-color);
  display: flex;
  padding: 0.2196vw 0.439vw 0.146vw;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 0.2196vw;
  border: 0.0732vw solid var(--border);
}
.reminder-input {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  max-width: 100%;
  font-weight: 500;
  line-height: 1.2;
  outline: transparent solid 0.146vw;
  outline-offset: 0.146vw;
  min-height: 1.61vw;
  min-width: 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.2196vw;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  background: rgb(99, 99, 99);
  color: var(--text-color);
  margin: auto 0.292vw 0.146vw 0vw;
}
.reminder-text {
  line-height: 0.878vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter;
  font-size: 0.732vw;
  font-weight: 500;
  color: var(--text-color);
}
.reminder-inputBox {
  width: 100%;
  min-width: 4.685vw;
  outline-offset: 0.146vw;
  position: relative;
  appearance: none;
  font-size: 0.732vw;
  padding-inline-start: 0vw;
  padding-inline-end: 0vw;
  height: auto;
  color: #fff;
  font-family: Inter;
  font-weight: 500;
  line-height: 0.878vw;
  background-color: var(--elements-color);
  display: inline-block;
  margin-top: unset !important;
  outline: transparent solid 0.146vw;
  border-radius: var(--chakra-radii-md);
  flex: 1 1 0%;
}
.reminder-icon img {
  margin-left: 0.187vw;
  width: 0.878vw;
  height: 0.503vw;
  padding-bottom: 0vw;
  margin-bottom: 0.146vw;
}
.buttons-area {
  background-color: var(--dark-back);
  padding: 0.732vw 0.878vw;
  margin-top: 1.464vw;
  border-bottom-left-radius: 0.585vw;
  border-bottom-right-radius: 0.585vw;
  display: flex;
  justify-content: space-between;
}
.margin {
  margin-left: auto;
}
