.header {
  background-color: --dark-back;
  font-size: small;
}
.navb {
  display: grid;
  grid-template-areas: "topbar-date-selector topbar-search";
  padding: 0.512vw 0vw 0vw 1.098vw;
  margin-right: 0.732vw;
  height: 3.587vw;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-back);
  border-bottom: 0.0732vw solid rgb(59, 59, 59);
}
.sort {
  width: 9.644vw;
}
.title {
  margin: 1% 0% 0% 2%;
  font-family: Inter;
  font-size: 1.244vw;
  font-weight: 600;
  line-height: 1.493vw;
  color: var(--text-color);
  white-space: nowrap;
  padding-bottom: 0.439vw;
}
.options {
  display: flex;
}
.Buttondiv {
  height: 2.196vw;
  margin-right: 0.585vw;
  padding: 0vw 0.878vw;
  background: var(--elements-color);
  border: 0.0732vw solid var(--border);
  border-radius: 0.366vw;
}
.seacrh-button {
  width: 1.171vw;
  height: 1.171vw;
}
.search_input {
  width: 70%;
  color: white;
  min-width: 0vw;
  outline-offset: 0.146vw;
  position: relative;
  appearance: none;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  font-size: 0.878vw;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  height: 2.196vw;
  font-family: Inter;
  font-weight: 500;
  line-height: 1.054vw;
  margin-left: 0.732vw;
  outline: transparent solid 0.146vw;
  border-radius: 0.357rem;
  border-color: inherit;
  background: var(--elements-color);
  padding: 0vw;
}
.search_input:focus {
  outline: transparent solid 0.146vw;
  outline-offset: 0.146vw;
}
.button {
  display: inline-flex;
  margin-right: 0.585vw;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 2.196vw;
  font-size: 0.878vw;
  color: var(--text-color);
  background-color: var(--elements-color);
  padding-left: 0vw;
  padding-right: 0.2196vw;
  font-family: Inter;
  border: 0.0732vw solid var(--border);
  border-radius: 0.366vw;
}
.button-text {
  color: var(--text-color);
}
.primary {
  background-color: rgb(54, 98, 204);
  width: auto;
  border-color: rgb(54, 98, 204);
  margin-right: 0;
}
.arrow,
.icon {
  display: inline-flex;
  margin-inline-start: 0.5rem;
}
.icon {
  display: inline-flex;
  margin-inline-end: 0.5rem;
  width: 1.024vw;
  height: 1.024vw;
}
