.category {
  margin-top: 8px;
  margin-bottom: 8px;
}
.category-heading {
  display: grid;
  grid-template-areas: "label icon";
  grid-template-columns: minmax(44.89px, 71.89px) 8.8fr;
  height: 44px;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
}
.heading-div {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  grid-area: label / label / label / label;
  width: 500%;
  margin-left: 16px;
}
.heading-div img {
  width: 20px;
  height: 20px;
}
.heading-text {
  margin-top: 0px;
  margin-inline: 0.5rem 0px;
  margin-bottom: 0px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.95);
  margin-left: 13px;
}
