.Sortdropdown {
  position: fixed;
  inset: 0vw 0vw auto auto;
  margin: 0vw;
  transform: translate(-40.43vw, 3.513vw);
  background-color: rgb(51, 51, 51);
  padding: 0;
  border-radius: 0.5vw;
  border: 0.0732vw solid #616161;
  margin-right: 0.585vw;
  z-index: 5;
}
.list-item,
.sort {
  width: 12.644vw;
  padding-left: 0vw;
  padding-right: 0vw;
}
.list-item:hover {
  cursor: pointer;
  background-color: #3662cc;
  color: white;
  border-radius: 0.2vw;
}
.list-selected {
  width: 1.866vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.list-text {
  font-family: Inter;
  font-size: 0.878vw;
  line-height: 2.196vw;
}
.list-item {
  color: hsla(0, 0%, 100%, 0.7);
  display: flex;
  height: 2.196vw;
  padding: 0vw 0.439vw 0vw 0.732vw;
}
.newDropdown {
  transform: translate(-24.544vw, 3.513vw);
  width: 15.373vw;
  height: auto;
}
.newDropdown .list-item {
  width: auto;
}
.newDropdown .list-selected {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.768vw;
  width: 1.171vw;
  color: #fffffff2;
}
.newDropdown .habits {
  margin-bottom: 0;
  padding-bottom: 0.439vw;
  padding-top: 0.292vw;
  border-bottom: 0.0732vw solid rgb(74, 74, 74);
}
.mood {
  padding: 0.292vw 0vw;
}
