.progress-section {
  height: 100%;
  background-color: var(--dark-back);
}
.progress_header {
  height: 3.66vw;
  display: flex;
  padding: 0vw 10.146vw 0vw 0.732vw;
  background-color: --dark-back;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.073vw solid var(--border);
  overflow-x: auto;
}
.title_div {
  max-width: 55%;
  display: flex;
  align-items: center;
}
.progress_button {
  padding-right: 0vw;
  display: inline-flex;
  margin-right: 0.585vw;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.878vw;
  color: var(--text-color);
  background-color: var(--elements-color);
  padding-left: 0vw;
  font-family: Inter;
  border: 0.0732vw solid var(--border);
  border-radius: 0.366vw;
  width: 2.342vw;
  height: 2.196vw;
}
img {
  width: 1.171vw;
  height: 1.171vw;
}
.streak-img{
  width: 1.683vw;
  height: 2.269vw;
}
.title {
  color: var(--text-color);
  font-family: Inter;
  font-size: 1.244vw;
  font-weight: 600;
  line-height: 1.493vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0.422vw;
}
.buttons-div {
  display: flex;
  margin-left: 0.732vw;
}
.progress_button {
  width: 2.342vw;
  height: 2.196vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.585vw;
  border-radius: 0.219vw;
  border: 0.0732vw solid var(--border);
  color: var(--text-color);
  background-color: var(--elements-color);
}
.calender {
  width: 10.76vw;
}
::-webkit-scrollbar {
  width: 0.585vw;
  height: 0.585vw;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.366vw;
  margin-top: 1.464vw;
  margin-bottom: 1.464vw;
  background: var(--elements-color);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.progress-content {
  padding: 0.878vw;
  max-height: calc(100vh - 3.66vw);
  overflow-y: auto;
}
.currentStreak {
  height: 5.767vw;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1.464vw;
  padding: 1.317vw 0.878vw 1.317vw 1.464vw;
  border: 0.073vw solid var(--border);
  border-radius: 0.366vw;
  -webkit-box-align: center;
  align-items: center;
}
.streak-data {
  display: flex;
  align-items: center;
}
.streak-logo {
  padding-bottom: 2.415vw;
  min-width: 1.683vw;
}
.streak-info {
  margin-left: 0.878vw;
  padding-bottom: 1.317vw;
}
.streak {
  text-transform: uppercase;
  margin-bottom: 0.439vw;
  color: rgb(123, 124, 124);
  font-family: Inter;
  font-size: 0.805vw;
  font-weight: 600;
  line-height: 0.966vw;
}
.days {
  font-family: Inter;
  font-size: 1.317vw;
  font-weight: 600;
  line-height: 1.581vw;
}
.progress-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.878vw;
  margin-top: 0.878vw;
  margin-bottom: 0.878vw;
}
.grid-data {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.439vw;
  padding: 1.207vw 1.171vw;
  border: 0.073vw solid var(--border);
  border-radius: 0.732vw;
  align-content: center;
}
.progress-category {
  display: flex;
  justify-content: left;
  margin: 0;
}
.category-logo {
  max-height: 100%;
  margin-right: 0.439vw;
  margin-top: 0.073vw;
  width: 0.951vw !important;
  height: 1.903vw !important;
  padding-bottom: 1.024vw;
}
.category-text {
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(123, 124, 124);
  font-family: Inter;
  font-size: 0.805vw;
  font-weight: 600;
  line-height: 0.966vw;
  margin: 0;
}
.category-days {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--text-color);
  font-family: Inter;
  font-size: 1.464vw;
  font-weight: 600;
  line-height: 1.756vw;
  margin: 0;
}
.category-change {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 1.098vw;
}
